[Desktop Entry]
Version=1.0
Name=IRC
Comment=Launch an IRC client
Exec=irssi
Icon=irssi
Terminal=true
Categories=Internet
Type=Application
StartupNotify=true
